<br><br><h1>CONTACTO</h1>
<div class=" contenedor">
    <div class="correo">
        <div>
            <img src="assets/Correo.svg" alt="">
        </div>
        <div>
            <p>Correo Electronico: residenciageriatrica@geriavida.pe</p>
        </div>
    </div>
    <div class="telefono">
        <div>
            <img src="assets/Telefonoc.svg" alt="">
        </div>
        <div>
            <p>Informes: 975347030</p>
        </div>
    </div>
    <div class="whatsapp">
        <div>
            <img src="assets/WhatsApc.svg" alt="">
        </div>
        <div>
            <p>WhatsApp: 975347030</p>
        </div>
    </div>
    <div class="web">
        <div>
            <img src="assets/Webc.svg" alt="">
        </div>
        <div>
            <p>Pagina Web: www.geriavida.pe</p>
        </div>
    </div>
    <div class="siguenos">
        <div>
            <img src="assets/Siguenosc.svg" alt="">
        </div>
        <div>
            <p>Síguenos en nuestras redes sociales:</p>
        </div>
    </div>
    <div class="iconos_c">
        <a href=""><img src="../../assets/Facebook 1.svg" alt=""></a>
        <a href=""><img src="../../assets/Twitter 1.svg" alt=""></a>
        <a href=""><img src="../../assets/Instagram 1.svg" alt=""></a>
    </div>
</div>
    <p class="center">Jr. El Amargón N° 3982 – Urb. Las Palmeras – Los Olivos – Lima</p>
    <p class="center">( Ref: Altura entre la Cdra. 10 y 11 de la Av. Carlos Izaguirre )</p>
<div class="medio" >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.807818735078!2d-77.07531196625797!3d-11.987795999291391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cf792488eb9b%3A0x44842736dc0a46ba!2sResidencia%20Geri%C3%A1trica%20GERIAVIDA!5e0!3m2!1ses!2spe!4v1661710722526!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="border:5px solid #A68053; border-radius:25px" ></iframe>
</div>
