<mat-toolbar color="primary" class="color">
  <mat-toolbar-row>
    <a href="" mat-menu-item routerLink="home"><img class="logo" src="../assets/images/header/Logo_Echado.svg" alt=""></a>

    <div class="spacer"></div>

    <button class="none" mat-button [matMenuTriggerFor]="afterMenu" href="#">Geriavida</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item routerLink="geriavida">Introduccion</button>
      <button mat-menu-item routerLink="seguridad">Seguridad de nuestras instalaciones</button>
      <button mat-menu-item routerLink="protocolos">Protocolos de Bioseguridad</button>
      <button mat-menu-item routerLink="visitas">visitas</button>
    </mat-menu>

    <a class="none" mat-button routerLink="proposito">Propósitos y Valores</a>
    <a class="none" mat-button routerLink="servicios">Servicios</a>
    <a class="none"mat-button href="">Enfermedades</a>
    <a class="none" mat-button routerLink="galeria">Galeria</a>
    <a class="none" mat-button routerLink="contacto">Contacto</a>
    <button class="none" mat-button [matMenuTriggerFor]="blog_Menu" href="#">Blog</button>
      <mat-menu #blog_Menu="matMenu" xPosition="after">
        <a mat-menu-item href="../../assets/pdf/Control y manejo del estres del operador y cuidador.pdf" target="_blank">Control y manejo del estres</a>
        <a mat-menu-item href="../../assets/pdf/Filosofia de envejecimiento.pdf" target="_blank">Filosofia de envejecimiento</a>
        <a mat-menu-item href="../../assets/pdf/Nutricion para personas Adultas Mayores.pdf" target="_blank">Nutricion para personas Adultas</a>
        <a mat-menu-item href="../../assets/pdf/Dieta para la Hipertensión arterial.pdf" target="_blank">Dieta para la Hipertensión arterial</a>
      </mat-menu>



    <a class="none_b" mat-raised-button href="../../assets/pdf/Brochure.pdf" target="_blank">Brochure</a>
  </mat-toolbar-row>
</mat-toolbar>
