<h1>VALORES Y PROPÓSITOS </h1>
<div class="contenedor_principal">
  <div><h3>VALORES</h3></div>
  <div><p>Nuestra filosofía asistencial hacia el adulto mayor. está basada en el Respeto, Vocación, Cariño, Honestidad, Ética Profesional, Calidad en el servicio y Responsabilidad social. Así como a nuestro prójimo. Estamos convencido que todo ser humano tiene el derecho a una vida digna. </p></div>
  <div class="img"><img src="../../assets/images/propositos/valores.svg" alt=""></div>
<div class="contenedor1">
  <div><h3>MISIÓN</h3></div>
  <div><p>Tenemos la misión de cumplir cabalmente con nuestra labor encomendada. con Responsabilidad, Eficiencia, Eficacia y Respeto. Comprometidos a mejorar la calidad de vida de nuestros adultos mayores. Manteniendo constantemente nuestra excelente calidad de servicio y atención de primer nivel. </p></div>
  <div class="img"><img src="../../assets/images/propositos/mision.svg" alt=""></div>
</div>

<div class="contenedor2">
  <div><h3>VISIÓN</h3></div>
  <div><p>Estamos convencidos de lograr ser reconocido a nivel nacional como la mejor Marca con sucursales. especializada en la asistencia integral hacia el adulto mayor. Cada vez con una mejor calidad de Servicio, Atención y sobre todo Vocación a favor de nuestros residentes adultos mayores. estando siempre a la vanguardia de nuevos conocimientos y tecnología. </p></div>
  <div class="img"><img src="../../assets/images/propositos/vision.svg" alt=""></div>
</div>

<div class="contenedor3">
  <div><h3>PROPÓSITO</h3></div>
  <div><p>Nuestro propósito es contribuir, comprometiéndonos cada vez más a que nuestros adultos mayores, tenga una mejor calidad de vida. Brindando en todo momento los mejores servicios, atención de primer nivel de calidad. Para poder lograr todo esto, nos apoyamos a un conjunto de valores plenamente enraizados en nuestra cultura corporativa, que nos inspiran en el día a día ser la mejor Residencia Geriátrica Gerontológico, llamada. GERIAVIDA.  Todo esto nos permite ofrecer con total confianza y orgullo a nuestros clientes y residentes una experiencia única e inigualable. </p></div>
  <div class="img"><img src="../../assets/images/propositos/Proposito.svg" alt=""></div>
</div>

<div class="contenedor4">
  <div><h3>RESPONSABLES</h3></div>
  <div><p>Cumplimos siempre con nuestros propósitos. hacemos realidad nuestros proyectos, damos lo mejor de nosotros mismos con constancia, paciencia y perseverancia, hasta obtener los mejores resultados con nuestros adultos mayores. Respetamos en todo momento las leyes, reglas y normas que nos establecen las autoridades competentes y nuestra institución.  </p></div>
  <div class="img"><img src="../../assets/images/propositos/Responsables.svg" alt=""></div>
</div>

<div class="contenedor5">
  <div><h3>COMPRENSIVOS</h3></div>
  <div><p>Somos generosos y humanos. tratamos a las personas con mucho respeto y amabilidad, nos preocupamos de todo y cuidamos de todos. tenemos mucha paciencia siendo uno de nuestros pilares para poder llegar a nuestros adultos mayores y comprender de todo lo que pasan y sienten, al igual que al entorno familiar. </p></div>
  <div class="img"><img src="../../assets/images/propositos/Comprensivos.svg" alt=""></div>
</div>

<div class="contenedor6">
  <div><h3>APASIONADOS</h3></div>
  <div><p>Estamos llenos de energía e inspiración. Tenemos vocación de lo que hacemos y por qué lo hacemos.  </p></div>
  <div class="img"><img src="../../assets/images/propositos/Apacionados.svg" alt=""></div>
</div>

<div class="contenedor7">
  <div><h3>ABIERTOS</h3></div>
  <div><p>Somos transparente con lo que comunicamos y transmitimos. escuchamos y comprendemos a los demás. Siempre vamos a sugerir a la familia. todo lo mejor a favor de nuestros adultos mayores, aportando nuestros conocimientos y nuestra experiencia. </p></div>
  <div class="img"><img src="../../assets/images/propositos/Abiertos.svg" alt=""></div>
</div>

<div class="contenedor8">
  <div><h3>AUTÉNTICOS</h3></div>
  <div><p>Actuamos en todo momento con franqueza y honestidad. Decimos lo que pensamos y pensamos lo que decimos. Tenemos convicción de servicio. </p></div>
  <div class="img"><img src="../../assets/images/propositos/Autenticos.svg" alt=""></div>
</div>

<div class="contenedor8">
  <div><h3>CLIENTES</h3></div>
  <div><p>Como Residencia Geriátrica Gerontológico. Especializada en el cuidado y atención del adulto mayor, Buscamos brindar una servicio y atención excepcional de primer nivel y de esta manera ayudar a nuestros clientes o familiares de nuestros residentes a solucionar sus necesidades en relación al complejo mundo del cuidado y atención de nuestros adultos mayores, padeciendo muchos de ellos de diferentes patologías. Así mismo promovemos un estilo de vida saludable en beneficio de nuestros residentes y al mismo tiempo al entorno familiar. </p></div>
  <div class="img"><img src="../../assets/images/propositos/Clientes.svg" alt=""></div>
</div>

</div>
