<div>
  <h2>VISITAS</h2>
  <div class="contenedor_1">
      <p>Desde el inicio del COVID – 19. En la Residencia Geriátrica “GERIAVIDA”. hemos FACILITADO EL CONTACTO DIRECTO de las familias con sus seres queridos a través de herramientas tecnológicas, Audiovisuales virtuales.Entre ellas tenemos, LAS VIDEOLLAMADAS (realizadas de diferentes aplicativos), SKYPE, WHATSAPP, ZOOM. Etc. Facilitada por el personal de referencia de la residencia geriátrica.</p>
  </div>

  <div class="contenedor-2">
      <div class="grid-item_1">
          <p>Lo que nos permite fortalecer el vínculo familiar y favorecer el estado emocional, psicológico y salud de nuestros residentes.</p>
          <p>Durante el tiempo que dure esta pandemia del Covid – 19.  En caso las visitas se realicen de manera presencial. se respetará cumpliendo con todos los protocolos de Bioseguridad, normas e instrucciones establecidas por las autoridades competentes que nos supervisan constantemente de manera exhaustiva. Por lo que se deberá cumplir con el distanciamiento social, el uso de mascarilla, protector facial, lavado de manos y desinfección total del cuerpo. entre otros.</p>
          <p>Se programarán las visitas con antelación para propiciar el distanciamiento social en todo momento.</p>
      </div>
      <div class="grid-item-1">
          <img src="../../assets/images/visitas/Visitas_Imagen 1.svg" alt="visitas geriavida">
      </div>
  </div>
  <div class="contenedor_3">
      <div class="grid-item-1">
          <img src="../../assets/images/visitas/Visitas_Imagen 2.svg" alt="visitantes geriavida">
      </div>
      <div class="grid-item-1">
          <p>Así mismo.  se permitirán las visitas solo durante un horario especifico, con una cantidad de visitante limitado por residente.( No más de dos visitantes por vez )</p>
          <p>Todo esto lo hacemos con la única finalidad de salvaguardar la vida y salud de nuestros residentes, que son los más vulnerables en estos tiempos que vivimos en Pandemia. </p>
      </div>
  </div>
  <div class="contenedor_4">
      <div class="grid-item-1">
          <p>Después que pase toda esta pandemia y las autoridades competentes nos autorice.  las visitas volverán a realizarse normalmente como antes. Tal como se menciona en las siguientes líneas:</p>
          <p>Las visitas son flexibles previa coordinación y horarios establecidos por nuestra residencia.</p>
      </div>
      <div class="grid-item-1">
          <img src="../../assets/images/visitas/Visitas_Imagen 3.svg" alt="familia geriavida">
      </div>
  </div>
  <div class="contenedor_5">
      <div class="grid-item-1">
          <img src="../../assets/images/visitas/Visitas_Imagen 4.svg" alt="abuelitos geriavida">
      </div>
      <div class="grid-item-1">
          <p>SALIDAS DEL RESIDENTE O PACIENTE: el familiar podrá llevar a recrear al residente o paciente, toda una mañana, tarde o día completo. siendo posible hasta el día siguiente o más días. previa coordinación con nuestra residencia geriátrica, con la finalidad que el personal de enfermería tenga preparado su pastillero de medicamentos, ropa adecuada para su salida, entre otros útiles. con Previa recomendaciones e instrucciones de nuestra residencia geriátrica y así no alterar las rutinas diarias que lleva el residente con nosotros.</p>
      </div>
  </div>

  <div class="contenedor_1">
      <p>Esperamos le haya servido toda esta información detallada de gran ayuda. demostrando la línea en la que trabajamos exhaustivamente, de forma transparente, al servicio de nuestros residentes Adultos Mayores, pudiendo gozar y beneficiarse de nuestra excelente atención y servicio, que es lo que nos caracteriza.</p>
      <p>Por todo lo expuesto. es que nos permite ofrecer con absoluta confianza, seguridad y orgullo nuestra excelente calidad de servicio y atención de primer nivel.</p>
  </div>

  <div class="contenedor_reutilizables">
      <div class="grid-reutilizables_item">
          <img src="../../assets/images/reutilizables/Img_Seguridad.svg" alt="">
      </div>
      <div class="grid-reutilizables_item">
          <img src="../../assets/images/reutilizables/Img_Protocolos.svg" alt="">
      </div>
      <div class="grid-reutilizables_item">
          <img src="../../assets/images/reutilizables/Img_Visitas.svg" alt="">
      </div>
  </div>
</div>
