<div>
  <div class="contenido_1">
      <h2 >MEDIDAS DE PROTECCIÓN PREVENTIVAS TOMADAS MEDIANTE PROTOCOLOS DE BIOSEGURIDAD ANTE EL COVID - 19  </h2>
      <h3>( Juntos lo Venceremos )</h3>
  </div>
  <div class="contenido_2">
      <ul>
          <li>Nuestra Residencia Geriátrica GERIAVIDA, cumple con todas las medidas de protocolos de BIOSEGURIDAD.</li>
          <li>Nuestro personal o colaboradores, cuenta con todos los implementos de Bioseguridad y desinfección. Así mismo también se les realiza, control de temperatura entre otros controles y supervisiones a diario, desde la entrada y salida de nuestras instalaciones. También deben contar con el carné o certificado de vacunación contra el COVID –19. digitales o físicos con las dosis completas requeridas y exigidas por las autoridades competentes.</li>
          <li>Nuestro personal o colaboradores, reciben constantemente instrucciones y recomendaciones al momento de su entrada y salida de nuestra residencia geriátrica. así como capacitaciones. para evitar cualquier contagio externo, evitando poner en riesgo la salud de nuestros residentes o pacientes y la del mismo personal</li>
          <li>Educar a los residentes y visitantes sobre el COVID – 19. Las precauciones actuales que se están tomando en nuestra residencia geriátrica y las acciones que deben tomar para protegerse.</li>
          <li>Los visitantes tendrán que respetar y cumplir con todas las medidas de protección de protocolos de bioseguridad, tales como: El distanciamiento social, el uso de mascarilla, el uso de protector facial, la desinfección de manos y resto del cuerpo. etc.</li>
          <li>Los visitantes o familiares de los residentes deben contar con el carné o certificado de vacunación contra el COVID – 19. digitales o físicos con las dosis completas requeridas y exigidas por las autoridades competentes </li>
          <li>Se programarán las visitas con antelación para propiciar el distanciamiento social en todo momento.</li>
          <li>Así mismo.  se permitirán las visitas solo durante un horario especifico, con una cantidad de visitante limitado por residente. ( No más de Dos visitantes por vez ) o si lo desean por medios tecnológicos virtuales. Videollamadas, Skype,  Zoom. Etc. </li>
          <li>Todos nuestros residentes se encuentran monitoreados, realizándoles constantemente a diario el control de signos vitales, como: presión arterial, temperatura, saturación de oxigeno  ( SPo2 ) Etc. Por lo que utilizamos aparatos médicos clínicos, modernos y de marca. Lo que nos permite saber con más exactitud, el estado de salud de nuestros residentes.</li>
          <li>Permitimos como máximo Dos residentes o pacientes por habitación, con su respectivo distanciamiento, teniendo a la vez más comodidad y espacio.</li>
          <li>Cada Residente cuenta con sus utensilios personales, la cual son desinfectados constantemente a diario.</li>
          <li>Pensando en el cuidado de nuestros residentes, lavamos por separado las prendas y ropa de cama de cada paciente, además de desinfectarlos. utilizando los mejores insumos.</li>
          <li>Todos nuestros ambientes se encuentran ventilados, desinfectándolo constantemente a diario.</li>
          <li>No somos partidarios del hacinamiento. evitando a la vez, puedan contraer alguna enfermedad o complicar su estado de salud de nuestros pacientes, sobre todo en tiempo de pandemia.</li>
      </ul>
  </div>

  <div class="contenedor_imagenes">
      <div class="grid-item">
          <img src="../../assets/images/protocolos/Protocolos_Imagen_1.svg" alt="Protocolos de bioseguridad geriavida">
      </div>
  </div>

  <div class="contenedor_reutilizables">
      <div class="grid-reutilizables_item">
          <img src="../../assets/images/reutilizables/Img_Seguridad.svg" alt="">
      </div>
      <div class="grid-reutilizables_item">
          <img src="../../assets/images/reutilizables/Img_Protocolos.svg" alt="">
      </div>
      <div class="grid-reutilizables_item">
          <img src="../../assets/images/reutilizables/Img_Visitas.svg" alt="">
      </div>
  </div>
</div>
