<div class="contenedor_principal">
  <h1>NUESTROS SERVICIOS</h1>
  <h2 class="color_1">Para una mejor calidad de vida de nuestros adultos mayores brindamos: </h2>
  <div class="caja-1">
    <div class="texto">
      <ul class="lista-1">
        <li>Hogar familiar para el Adulto Mayor</li>
        <li>Ambientes confortables, limpios y cálido</li>
        <li>Habitaciones equipadas individual o compartida. con camas normales y clínicas ortopédica o articulada (
          Televisión – Cable – Internet )</li>
        <li>Control por su médico tratante. ( Padomi o Médico de su Elección) </li>
        <li>Enfermería permanente las 24 horas del día por personal altamente cualificado.</li>
        <li>Fisioterapia, Rehabilitación física, Terapia ocupacional y Actividades de estimulaciones cognitivas.</li>
        <li>Alimentos de calidad, Nutritivos, Balanceados y Especiales, según el paciente requiera.</li>
        <li>Lavandería permanente y personalizada.</li>
        <li>Paseos recreativos programados</li>
        <li>Celebración de fechas importantes.</li>
        <li>Horarios de visitas ( Por COVID – 19. Con Protocolos de Bioseguridad y por Video Llamada. Etc ).</li>
        <li>Los cuidados pueden ser: Permanentes y Temporales.</li>
        <li>Los cuidados pueden ser también por Días y Guarderías por horas </li>
        <li>Opcionalmente: Servicio de Análisis Clínicos Diversos.</li>
        <li>Entre otros servicios destinados al residente y/o paciente.</li>
      </ul>
    </div>
    <div data-aos="fade-left" class="img_1">
      <img src="../../assets/Imagen 1.svg" alt="">
    </div>
  </div>

  <div class="espaciador">
    <h3 class="color_2">Por otro lado, en caso que el paciente requiera Realizamos otros servicios:</h3>
    <div class="texto">
      <ul class="lista-2">
        <li>Cambio de sondas y vías.</li>
        <li>Nebulización.</li>
        <li>Monitoreo de oxigeno.</li>
        <li>Aspiración de secreciones.</li>
        <li>Curación de escaras y heridas.</li>
        <li>Aplicación de inyectables intramuscular e intravenosa.</li>
        <li>Etc.</li>
      </ul>
    </div>
  </div>

  <div class="espaciador">
    <div class="caja-2">
      <div class="caja-2-texto-left">
        <h4 class="alojamiento">ALOJAMIENTO</h4>
        <p>Contamos con habitaciones equipadas, personales y compartidas. con camas normales y clínicas, Así mismo con
          colchón Antiescaras. dependiendo del estado de salud del residente o paciente. ( En las habitaciones
          compartidas, solo aceptamos dos residentes por habitación como máximo. no deseamos incluir más camas con la
          finalidad del que el residente tenga privacidad y comodidad ). todos los colchones que utilizamos son
          especiales y de las mejores calidades. contribuyendo a que nuestros residentes puedan dormir cómodamente toda
          la noche.
        </p>
      </div>
      <div class="caja-2-imagen" data-aos="fade-up-right">
        <img src="../../assets/Imagen 2.svg" alt="">
      </div>
    </div>
  </div>

  <div class="espaciador">
    <div class="caja-3-imagen1">
      <div><img src="./../assets/Imagen 3.svg" alt=""></div>
      <div><img src="./../assets/Imagen 4.svg" alt=""></div>
    </div>
  </div>

  <div class="espaciador">

    <div class="caja-2">
      <div class="caja-2-texto-left">
        <h4 class="enfermeria">ENFERMERÍA</h4>
        <p>Contamos con personal de enfermería altamente cualificados. las 24 horas del día. realizando atención y
          cuidados del paciente, mediante evaluaciones y controles a diario supervisándolos constantemente.<br><br>
          ofreciendo una atención especial de prevención. Así mismo desde que ingresa el residente o paciente se le
          genera un kardex ú historial clínico. donde se realiza un seguimiento minucioso de su estado de salud y
          reporte de enfermería. que consiste en el control, supervisión y reparto de medicamentos suministrándole al
          paciente a la hora indicada por su médico tratante.
        </p>
      </div>
      <div class="caja-2-imagen">
        <img src="../../assets/Imagen 5.svg" alt="">
      </div>
    </div>
  </div>

  <div class="espaciador">
    <div class="caja-2">
      <div class="caja-2-imagen">
        <img src="../../assets/Imagen 6.svg" alt="">
      </div>
      <div class="caja-2-texto-right">
        <p>
          Se les realiza a todos nuestros residentes el control de las funciones de los signos vitales, tales como:
          medición de respiración, medición de pulso, medición de presión arterial, medición de temperatura corporal,
          medición de saturación de oxígeno (SPo2). todo esto se realiza a diario, día y noche. de ser necesario en caso
          lo amerite de manera repetitiva durante las 24 horas del día. también realizamos la movilización y aseo de
          nuestros pacientes, Etc. Utilizamos aparatos médicos básicos modernos y de marcas. todo este informe de
          enfermería es plasmado en un kardex o historial, servirá de mucha importancia porque nos permite poner en
          conocimiento al médico tratante de su elección. y de esta forma poder llevar con más exactitud el progreso de
          la enfermedad del paciente.
        </p>
      </div>
    </div>
    <p>
      Con toda esta recopilación de información exhaustiva, su médico tratante podrá elegir la mejor decisión correcta
      de un tratamiento adecuado. de lo contrario podrá reajustar la medicación con más exactitud. beneficiando la salud
      del residente o paciente. Toda esta información importante nos permite detectar e informar a tiempo a la familia
      de la evolución del estado de salud del paciente y si en caso lo amerite sobre la necesidad de urgencia de
      evacuarlo a un centro hospitalario o clínica de su elección.
    </p>
  </div>

  <div class="espaciador">

    <div class="caja-2">
      <div class="caja-2-texto-left">
        <h4 class="alojamiento">NUTRICIÓN</h4>
        <p>Para asegurar una excelente alimentación en nuestros residentes, los alimentos son suministrados según
          recomendación del nutricionista o médico tratante. Esto nos va permitir brindarles los aportes calóricos y
          energéticos. Se mantiene una dieta equilibrada variada y nutritiva. por lo que utilizamos los mejores insumos
          o productos alimenticios de la más alta calidad
        </p>
      </div>
      <div class="caja-2-imagen">
        <img src="../../assets/Imagen 7.svg" alt="">
      </div>
    </div>
  </div>

  <div class="espaciador">
    <div class="caja-2">
      <div class="caja-2-imagen">
        <img src="../../assets/Imagen 8.svg" alt="">
      </div>
      <div class="caja-2-texto-right">
        <h4 class="alojamiento">ACTIVIDADES DE ESTIMULACIÓN COGNITIVAS Y RECREACIÓN</h4>
        <p>
          Realizamos actividades de estimulación cognitivas. se refiere al conjunto de técnicas y estrategias que
          utilizamos para mejorar la eficacia de capacidades cognitivas y funciones ejecutivas como la memoria,
          atención, lenguaje, razonamiento ó la planificación entre otras. por lo que se mantiene actividades
          programadas, como terapia ocupacional, tallares, celebraciones de fechas especiales, recreación, Etc. Todo
          esto ayudara en el desarrollo emocional de nuestros residentes.
        </p>
      </div>
    </div>
  </div>

  <div class="espaciador">

    <div class="caja-2">
      <div class="caja-2-texto-left">
        <h4 class="alojamiento">REHABILITACIÓN FÍSICA Y FISIOTERAPIA</h4>
        <p>
          En caso el residente o paciente requiera, según el estado de salud o patología que padezca. La rehabilitación
          es muy importante para lograr una recuperación funcional no solo a nivel de movilización, sino también en los
          sistemas: Cardiovascular, Respiratorio, Digestivo y Urinario. De la misma forma la fisioterapia con un
          conjunto de métodos tiene como finalidad la recuperación de una actividad o función perdida o disminuida por
          traumatismo o enfermedad. Contamos con equipos, instrumentos y un personal altamente cualificado especializado
          en rehabilitación física y fisioterapia.
        </p>
      </div>
      <div class="caja-2-imagen">
        <img src="../../assets/Imagen 11.svg" alt="">
      </div>
    </div>
  </div>

  <div class="espaciador">
    <div class="caja-imagen-center">
      <img src="../../assets/Imagen 10.svg" alt="">
    </div>
  </div>

  <div class="espaciador">

    <div class="caja-2">
      <div class="caja-2-texto-left">
        <h4 class="alojamiento">LAVANDERÍA</h4>
        <p>
          Contamos con lavandería permanente y personalizada, para el Lavado de vestimenta de prendas de uso personal y
          de cama, Con planchado. ( Las prendas se Lava por separado de cada Residente ) Además de ser desinfectadas.
          Utilizamos los mejores insumos de la mejor calidad. salvo prendas especiales que requiera lavado al seco o
          edredones. las cuales son enviadas a lavandería externa y cargadas a la cuenta del familiar responsable. </p>
      </div>
      <div class="caja-2-imagen">
        <img src="../../assets/Imagen 12.svg" alt="">
      </div>
    </div>
  </div>

  <div class="espaciador">
    <div class="caja-2">
      <div class="caja-2-imagen">
        <img src="../../assets/Imagen 13.svg" alt="">
      </div>
      <div class="caja-2-texto-right">
        <h4 class="alojamiento">SERVICIO OPCIONAL DE LABORATORIO Y AMBULANCIA ( Costos Adicionales ) </h4>

        <p>
          Realizamos diversos exámenes clínicos, previa coordinación y autorización del familiar responsable. Así mismo
          servicio de Ambulancia equipada Tipo II - Previa coordinación.
      </div>
    </div>
  </div>

  <div class="espaciador">
    <div class="caja-2">
      <div class="caja-2-texto-left">
        <h4 class="alojamiento">INFORMACIÓN PRESENCIAL O EN LÍNEA SOBRE EL ESTADO DEL PACIENTE</h4>

        <p>
          Nuestra Residencia Geriátrica. cuenta con internet y señal Wi Fi.<br> <br>
          El familiar responsable, podrá recibir información de manera presencial o por las diferentes vías tecnológicas
          como: vía Online o Audiovisual. Por lo que ponemos a su disposición las VIDEOLLAMADAS o TELECONSULTAS. entre
          otros medios. De esta manera tendrán conocimiento sobre la evolución y tratamientos que venimos teniendo con
          el Paciente que reside en nuestra residencia geriátrica. Mantener a la familia informada es la base de la
          transparencia de nuestra labor encomendada.<br> <br>
          Así mismo, los familiares que radican en el extranjero, también tendrán la facilidad de comunicarse
          virtualmente, con su ser más querido que reside en nuestra residencia geriátrica GERIAVIDA. a través de
          VIDEOLLAMADAS u otros medios tecnológicos interactivo y poder enterarse del estado de salud del residente o
          paciente.
        </p>
      </div>
      <div class="caja-2-imagen">
        <img src="../../assets/Imagen 14.svg" alt="">
      </div>
    </div>
  </div>

  <div class="espaciador">
    <h4 class="alojamiento">ATENCIÓN MÉDICA</h4>
    <div class="caja-">
      <div class="texto">
        <p>Cada familiar tiene la posibilidad de escoger un médico tratante de su elección. Las alternativas podrían
          ser:</p>
        <ul class="lista-2">
          <li>Un médico externo de preferencia de la familia ( En caso el paciente no estuviera asegurado en EsSalud).
          </li>
          <li>Médico de EsSalud, es cuando el paciente se encuentra asegurado. De estar postrado o tenga alguna
            invalidez física, de preferencia es solicitar a su médico tratante de PADOMI, siempre y cuando el paciente
            esté inscrito en dicha entidad. En estos casos si estuviera inscrito en PADOMI, nosotros coordinamos con
            ellos, tales como: coordinación de interconsultas, medicamentos, examen de laboratorio. Etc. Por otro lado,
            de ser necesario podemos solicitar Emergencia PADOMI para que puedan trasladarse con una ambulancia equipada
            a nuestra residencia geriátrica en caso de urgencia que amerite el paciente.</li>
          <li>Así mismo hay la opción de solicitar a PADOMI, un servicio llamado “Hospital en Casa.” que consiste en que
            EsSalud se trasladara con sus equipos médicos, implementos y todo lo que se requiera. a nuestra residencia
            geriátrica GERIAVIDA. Para que el paciente que lo amerite debido a su complicado estado de salud, lleve el
            tratamiento adecuado de su enfermedad en nuestras instalaciones.</li>
          <li>También podría ser un médico de otros seguros que el residente o paciente pueda tener. entre ellos esta:
            Seguro el Pacifico - Seguro Rímac, Fuerza Aérea del Perú - Hospital Naval - Hospital Militar, Hospital de la
            Policía, Clínicas. Etc. </li>
          <li>Por último, ponemos a su disposición un STAFF de especialistas. en caso el familiar responsable del
            paciente lo autorice. por lo que se deberá coordinar con antelación. ( este servicio tendrán costos
            adicionales). </li>
        </ul>
      </div>
      <div class="caja-imagen-center">
        <img src="../../assets/Imagen 15.svg" alt="">
      </div>
    </div>
  </div>

  <div class="espaciador">
    <div class="caja-2">
      <div class="caja-2-texto-left">
        <h4 class="alojamiento">SERVICIO OPCIONAL DE COMPRAS Y SERVICIOS EXTERNOS</h4>

        <p>
          Se les realiza a todos nuestros residentes el control de las funciones de los signos vitales, tales como:
          medición de respiración, medición de pulso, medición de presión arterial, medición de temperatura corporal,
          medición de saturación de oxígeno (SPo2). todo esto se realiza a diario, día y noche. de ser necesario en caso
          lo amerite de manera repetitiva durante las 24 horas del día. también realizamos la movilización y aseo de
          nuestros pacientes, Etc. Utilizamos aparatos médicos básicos modernos y de marcas. todo este informe de
          enfermería es plasmado en un kardex o historial, servirá de mucha importancia porque nos permite poner en
          conocimiento al médico tratante de su elección. y de esta forma poder llevar con más exactitud el progreso de
          la enfermedad del paciente.
        </p>
      </div>
      <div class="caja-2-imagen">
        <img src="../../assets/Imagen 16.svg" alt="">
      </div>
    </div>
    <p>
      Con toda esta recopilación de información exhaustiva, su médico tratante podrá elegir la mejor decisión correcta
      de un tratamiento adecuado. de lo contrario podrá reajustar la medicación con más exactitud. beneficiando la salud
      del residente o paciente. Toda esta información importante nos permite detectar e informar a tiempo a la familia
      de la evolución del estado de salud del paciente y si en caso lo amerite sobre la necesidad de urgencia de
      evacuarlo a un centro hospitalario o clínica de su elección.
    </p>
  </div>

  <div class="espaciador">
    <div class="caja-2">
      <div class="caja-2-imagen">
        <img src="../../assets/Imagen 17.svg" alt="">
      </div>
      <div >
        <h4 class="alojamiento">COSTOS DE NUESTRO SERVICIOS</h4>
        <p>
          El costo dependerá, de la condición y grado de atención que requiera el residente o paciente, para luego ser
          ratificado después de una entrevista personal con la familia y una evaluación previa del residente. </p>
      </div>
    </div>
  </div>

</div>


