
<div>
  <div class="contenido_1">
      <h2>SEGURIDAD DE NUESTRA RESIDENCIA GERIATRICA</h2>
      <p>Nuestra Residencia Geriátrica, cuenta con todos los implementos y medidas de seguridad en todas nuestras instalaciones. exigidas por las autoridades competentes, tales como:</p>
  </div>
  <div class="contenido_2">
      <ul>
          <li>Extintores – Luces de Emergencia</li>
          <li>Camilla de Emergencia – Señalizaciones Luminosas</li>
          <li>Detector de Humo Contra Incendio</li>
          <li>Alarma de Emergencia – Pozo tierra y LLaves Diferenciales</li>
          <p> (Evita que los residentes sufra alguna descarga eléctrica que dañe su integridad física en toda nuestra residencia) – ALARMA CONTRA ROBOS</p>
          <li>Pisos Antiaislantes – Barra de Apollo – Rampas – Pasamanos – Entre Otros.</li>
      </ul>
  </div>

  <div class="contenedor_imagenes">
      <div class="grid-item">
          <img src="../../assets/images/seguridad/Seguridad_Imagen_1.svg" alt="seguridad geriavida">
      </div>
      <div class="grid-item">
          <img src="../../assets/images/seguridad/Seguridad_Imagen_2.svg" alt="camilla geriavida">
      </div>
  </div>

  <div class="contenedor_reutilizables">
      <div class="grid-reutilizables_item">
          <img src="../../assets/images/reutilizables/Img_Seguridad.svg" alt="">
      </div>
      <div class="grid-reutilizables_item">
          <img src="../../assets/images/reutilizables/Img_Protocolos.svg" alt="">
      </div>
      <div class="grid-reutilizables_item">
          <img src="../../assets/images/reutilizables/Img_Visitas.svg" alt="">
      </div>
  </div>
</div>
