<h1>GERIAVIDA</h1>

<div class="contenedor">
    <div class="texto">
        <p>GERIAVIDA. Es una Residencia Geriátrica – Gerontológico. Exclusivo y Privado, brindando servicios y atención de Primer Nivel. Manteniendo nuestra excelente calidad en todo momento.  Nos enfocamos y especializamos en el cuidado y atención del Adulto Mayor, de pacientes. Autovalente, Dependencia inicial, Semi – dependencia, Dependencia total y en Situación de discapacidad. Contando con una amplia experiencia en el rubro y personal altamente cualificado al servicio de nuestros Residentes.</p>
    </div>
    <div class="imagen">
        <img src="../../assets/images/geriavida/Geriavida_Imagen_1.svg" alt="">
    </div>
</div>

<div class="contenedor">
    <div class="texto">
        <p>Nuestros Ambientes son Acogedores, Amplios, Limpios, Seguros, Confort, Cálido y Hogareño. creando un ambiente familiar.</p>
        <p>Comprometidos a mejorar la Calidad de Vida de nuestros Adultos Mayores, con Eficiencia y Eficacia. Nuestra filosofía asistencial está basada en nuestros valores de Respeto, Vocación, Cariño, Honestidad, Ética profesional, Calidad en el servicio y Responsabilidad social.</p>
        <p>En GERIAVIDA. Estamos convencido que nuestros Adultos Mayores, tienen el derecho a una vida digna.</p>
    </div>
</div>

<div class="contenedor">
    <div class="imagen">
        <img src="../../assets/images/geriavida/Geriavida_Imagen_2.svg" alt="">
    </div>
    <div class="texto">
        <p>En GERIAVIDA.  Ayudamos a los familiares de nuestros residentes a solucionar sus necesidades en relación al complejo mundo del cuidado y atención de nuestros adultos mayores, padeciendo muchos de ellos de diferentes patologías.</p>
        <p>Así mismo promovemos un estilo de vida saludable en beneficio de nuestros residentes y al mismo tiempo al entorno familiar. que en muchas ocasiones se encuentran afectados por toda esta situación de cómo actuar correctamente ante el cuidado y atención del adulto mayor, siendo los motivos más frecuentes: desconocimiento sobre temas de cuidados, falta de tiempo por diferentes motivos, Etc. Conllevando involuntariamente al deterioro de la calidad de vida del paciente o ser querido.</p>
    </div>
</div>

<div>
    <div class="texto">
        <p>Sabemos que unas de las tareas más importante para el familiar. es encontrar el lugar adecuado o idóneo para su ser más querido. por lo que ponemos a disposición nuestros servicios. sintiéndonos muy seguro de cubrir con sus expectativas y exigencias. Nuestra Residencia Geriátrica es la continuación de un hogar familiar, con la única diferencia que tendrán los mejores cuidados, más personalizados, especiales y profesionales. Con capacidad limitada de ingreso de residentes. con la única finalidad de no perder nuestra calidad de servicio y atención. evitando a la vez, puedan contraer alguna otra enfermedad o complicar su estado de salud. NO siendo partidarios del hacinamiento.</p>
    </div>

    <div class="imagenes">
        <div><img src="../../assets/images/reutilizables/Img_Seguridad.svg" alt=""></div>
        <div><img src="../../assets/images/reutilizables/Img_Protocolos.svg" alt=""></div>
        <div><img src="../../assets/images/reutilizables/Img_Visitas.svg" alt=""></div>
    </div>

</div>
