
<div>
  <h1 data-aos="flip-up">Residencia Geriátrica Gerontológico GERIAVIDA</h1>
</div>


<div class="contenedor_principal">
    <div class="contenedor_2">
        <div data-aos="fade-right" class="caja">
            <p>Es una Residencia Geriátrica – Gerontológico. Exclusivo y Privado, brindando servicios y atención de Primer Nivel. Manteniendo nuestra excelente calidad en todo momento. Nos enfocamos y especializamos en el cuidado y atención del Adulto Mayor, de pacientes. Autovalente, Dependencia inicial, Semi – dependencia, Dependencia total y en Situación de discapacidad. Contando con una amplia experiencia en el rubro y personal altamente cualificado al servicio de nuestros Residentes.</p>
            <p>Nuestros Ambientes son Acogedores, Amplios, Limpios, Seguros, Confort, Cálido y Hogareño. creando un ambiente familiar.</p>
            <p>Comprometidos a mejorar la Calidad de Vida de nuestros Adultos Mayores, con Eficiencia y Eficacia. Nuestra filosofía asistencial está basada en nuestros valores de Respeto, Vocación, Cariño, Honestidad, Ética profesional, Calidad en el servicio y Responsabilidad social.</p>
            <p>En GERIAVIDA. Estamos convencido que nuestros Adultos Mayores, tienen el derecho a una vida digna.</p>
            <p>En GERIAVIDA. Ayudamos a los familiares de nuestros residentes a solucionar sus necesidades en relación al complejo mundo del cuidado y atención de nuestros adultos mayores, padeciendo muchos de ellos de diferentes patologías.</p>
        </div>
        <div class="caja_video">
            <video data-aos="fade-left" src="../../assets/Video/VIDEO.mp4"autoplay="true"></video>
        </div>
    </div>
    <div class="contenedor_3">
        <div class="imagen">
            <img src="./../../assets/images/home/Imagen 1.svg" alt="">
        </div>
        <div data-aos="fade-right" class="caja">
            <p>Así mismo promovemos un estilo de vida saludable en beneficio de nuestros residentes y al mismo tiempo al entorno familiar. que en muchas ocasiones se encuentran afectados por toda esta situación de cómo actuar correctamente ante el cuidado y atención del adulto mayor, siendo los motivos más frecuentes: desconocimiento sobre temas de cuidados, falta de tiempo por diferentes motivos, Etc. Conllevando involuntariamente al deterioro de la calidad de vida del paciente o ser querido.</p>
        </div>
    </div>
    <div class="contenedor_3">
        <div data-aos="fade-right" class="caja">
            <p>Sabemos que unas de las tareas más importante para el familiar. es encontrar el lugar adecuado o idóneo para su ser más querido. por lo que ponemos a disposición nuestros servicios. sintiéndonos muy seguro de cubrir con sus expectativas y exigencias. Nuestra Residencia Geriátrica es la continuación de un hogar familiar, con la única diferencia que tendrán los mejores cuidados, más personalizados, especiales y profesionales. Con capacidad limitada de ingreso de residentes. con la única finalidad de no perder nuestra calidad de servicio y atención. evitando a la vez, puedan contraer alguna otra enfermedad o complicar su estado de salud. NO siendo partidarios del hacinamiento.</p>
        </div>
        <div class="imagen">
            <img src="./../../assets/images/home/Imagen 2.svg" alt="">
        </div>
    </div>
    <h2>ATENDEMOS A PACIENTES CON ENFERMEDADES</h2>
    <div class="contenedor_4">
        <div class="caja_viñetas">
            <ul>
                <li>Alzheimer</li>
                <li>Parkinson</li>
                <li>Demencia Senil</li>
                <li>Hemiplejias – Fibrosis Pulmonar</li>
                <li>Traqueotomía</li>
                <li>Isquemia</li>
                <li>Infarto Cerebral</li>
                <li>Arterioesclerosis</li>
                <li>Artrosis – Osteoporosis</li>
                <li>Embolia Cerebral</li>
                <li>Incontinencia Urinaria</li>
                <li>Acv – Coma</li>
                <li>Coma Diabético</li>
                <li>Insuficiencia Cardiaca</li>
                <li>Insuficiencia Renal</li>
                <li>Hipertención Arterial</li>
                <li>Enfermedades Oncológicas</li>
                <li>Postración Permanente</li>
                <li>Pacientes Post Operados</li>
                <li>Entre Otras Enfermedades</li>
            </ul>
        </div>
        <div class="imagenes">
            <img src="./../../assets/images/home/Imagen 3.svg" alt="">
            <img src="./../../assets/images/home/Imagen 4.svg" alt="">
        </div>
    </div>
</div>
